.search-results {
  background-color: rgba(245, 246, 247, 1);
  /* display: none; */
  /* i have a feeling to make the search results disappear
  and appear were going to have to edit the display none here */
}

.search-results__inactive {
  display: none;
}

.search-results__title {
  padding-top: 70px;
  padding-bottom: 64px;
  font-family: "roboto-400-slab", arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
}

.search-results__title-container {
  margin-left: 102px;
  display: flex;
}
.search-results__container {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.search-results__button-container {
  display: flex;
  justify-content: center;
}

.search-results__button {
  background-color: white;
  border-radius: 30px;
  /* margin-left: 600px; */
  margin-bottom: 50px;
  border-style: solid;
  border-color: white;
  padding: 20px 98px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  opacity: 1;
}

.search-results__button_inactive {
  display: none;
}

.search-results__button:hover {
  background-color: rgba(232, 232, 232, 1);
  border-color: rgba(232, 232, 232, 1);
}

@media screen and (max-width: 826px) {
  .search-results__button {
    margin-top: 32px;
  }
}

@media screen and (max-width: 375px) {
  .search-results {
    /* margin-top: 120px; */
  }

  .search-results__title-container {
    margin-left: 16px;
  }

  .search-results__title {
    font-family: "roboto-slab-400", arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 0;
  }
}
