{
  "extends": "airbnb",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "rules": {
    // "prettier/prettier": "error",
    "no-underscore-dangle": "off",
    "react/prop-types": "off",
    "react/no-array-index-key": "off",
    "import/no-useless-path-segments": "off",
    "new-cap": "off",
    "comma-dangle": "off",
    "object-curly-newline": "off",
    "class-methods-use-this": "off",
    "import/no-named-as-default-member": "off",
    "import/no-named-as-default": "off",
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off",
    "import/first": "off",
    "react/jsx-filename-extension": "off",
    "import/no-duplicates": "off",
    "indent": "off",
    "no-console": "off",
    "spaced-comment": "off",
    "arrow-body-style": "off",
    "react/function-component-definition": "off",
    "max-len": "off",
    "no-unused-expressions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
  },
  "globals": {
    "document": "readonly",
  },
}
