.main {
  background-image: url("../../images/backgroundimage.svg");
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main__title {
  color: white;
  font-family: "roboto-slab-400-regular", arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  width: 608px;
  height: 128px;
  /* margin-top: 160px; */
  margin-top: 4em;
  margin-bottom: 32px;
}

.main__paragraph {
  color: white;
  font-family: "roboto-400-regular", arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

/* need to take the header search container, the header input and the header search submit
  and put them in there own component and connect them to the header
  so that it looks cleaner 
  VVVVVVVVVVV
  */

.main__search-container {
  position: relative;
}

.main__input {
  margin-top: 88px;
  border-radius: 55px;
  width: 608px;
  height: 64px;
  padding: 0;
  border-color: white;
  border-style: solid;
  font-family: "roboto-400", arial, sans-serif;
  padding-left: 24px;
}

.main__search-submit-button {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 55px;
  border-style: solid;
  border-color: rgba(47, 113, 229, 1);
  width: 168px;
  height: 64px;
  color: white;
  font-family: "roboto-500", arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  background-color: rgba(47, 113, 229, 1);
  cursor: pointer;
}

.main__newscards-list-container {
  margin-top: 70px;
}

.main__newscards-list-title {
  margin-left: 102px;
}

.main__footer {
  /* margin-top: 180px; */
  margin-top: 15em;
}

@media screen and (max-width: 826px) {
  .main {
    height: 100vh;
  }

  .main__title {
    max-width: 75%;
  }

  .main__paragraph {
    max-width: 70%;
    max-height: 48px;
    font-size: 18px;
  }
}

@media screen and (max-width: 694px) {
  .main-container {
  }
  .main {
    height: 100vh;
    /* height: 65vh; */
  }

  .main__title {
    max-width: 75%;
  }

  .main__paragraph {
    max-width: 70%;
    max-height: 48px;
    font-size: 18px;
    margin-top: 2em;
  }
}

@media screen and (max-width: 564px) {
  .main-container {
  }
  .main {
    height: 50vh;
  }

  .main__title {
    max-width: 75%;
    font-size: 36px;
    line-height: 40px;
    height: auto;
    /* max-width: 8em; */
  }

  .main__paragraph {
    max-width: 70%;
    max-height: 48px;
    font-size: 18px;
    margin-top: 0;
  }
}

@media screen and (max-width: 379px) {
  .main-container {
  }
  .main {
    height: 90vh;
    background-position: center;
  }

  .main__title {
    max-width: 285px;
    max-height: 80px;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    /* margin-top: 30px; */
    margin-top: 4em;
  }

  .main__paragraph {
    max-width: 70%;
    max-height: 48px;
    font-size: 18px;
  }

  .main__newscards-list-container {
    margin-top: 96px;
  }
}
