.saved-news-container {
  /* margin-left: 104px; */
}

.saved-news__header {
  margin-bottom: 56px;
}

.saved-news-cards__container {
  /* margin-left: 104px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  background-color: rgba(245, 246, 247, 1);
}
