.circle-preloader_container {
  background-color: rgba(245, 246, 247, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;

  border-radius: 50%;

  position: relative;
  /* original value before change */
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 80px;
  animation: spin 0.75s infinite linear;
}

.circle-preloader_title {
  margin-bottom: 4em;
  font-family: "roboto-400-regular", arial, sans-serif;
  color: rgba(182, 188, 191, 1);
}

.preloader-error_container {
  background-color: rgba(245, 246, 247, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preloader-error-icon {
  margin-top: 4em;
}

.preloader-error_title {
  font-family: "roboto-slab-400-regular", arial, sans-serif;
  font-size: 26px;
  margin-top: 31px;
  margin-bottom: 16px;
}

.preloader-error_paragraph {
  font-family: "roboto-400-regular", arial, sans-serif;
  font-size: 18px;
  margin-top: 0;
  line-height: 24px;
  color: rgba(182, 188, 191, 1);
  /* width: 253px; */
  width: 12em;
  height: 48px;
  text-align: center;
  margin-bottom: 80px;
}

.preloader-error {
  /* display: block;
  width: 50px;
  height: 50px; */
  border-bottom-color: #888;
  position: relative;
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 3em;
  font-family: "roboto", arial, sans-serif;
  font-size: 25px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
