.header {
  background-color: transparent;
  width: 100%;
  /* margin-bottom: 80px; */
  /* background-image: url("../../images/backgroundimage.svg");
  background-size: cover;
  background-repeat: no-repeat; */
  /* background-color: rgb(182, 62, 32); */
  /* position: absolute; */
  /* height: 90vh; */
  /* bottom: 0; */
}

.header[id="saved-news_header"] {
  background-color: transparent;
}

.header__link-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  border: 0px;
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  padding-bottom: 13px;
}

.header__link-container[id="saved-news_header"] {
  border-color: rgba(209, 210, 214, 1);
}

.header__button-container {
  display: flex;
}

.header__logo {
  margin: 0;
  color: white;
  font-family: "roboto-slab-700", arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 104px;
}

.header__logo[id="saved-news_header"] {
  color: black;
}

.header__home-button {
  padding: 0;
  border: 0;
  background: transparent;
  color: white;
  font-family: "roboto-500", arial, sans-serif;
  cursor: pointer;
  margin-right: 54px;
  text-decoration-line: none;
  /* margin-top: 30px; */
  margin-top: 15px;
}

.header__home-button[id="saved-news_header"] {
  color: black;
}

.header__home-button_active {
  padding: 0;
  border: 0;
  text-underline-offset: 29px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.header__saved-articles_button {
  padding: 0;
  border: 0;
  background: transparent;
  color: white;
  font-family: "roboto-500", arial, sans-serif;
  cursor: pointer;
  margin-right: 54px;
  /* margin-top: 30px; */
  text-decoration: none;
  border-style: none;
  margin-top: 15px;
}

.header__saved-articles_button[id="saved-news_header"] {
  color: black;
}

.header__saved-articles_button_active {
  padding: 0;
  border: 0;
  text-underline-offset: 29px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
.header__signin-button {
  padding: 0;
  border-radius: 40px;
  border-style: solid;
  width: 176px;
  height: 48px;
  border-color: white;
  background: transparent;
  color: white;
  font-family: "roboto-500", arial, sans-serif;
  cursor: pointer;
  margin-right: 116px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin-top: 30px; */
}

.header__signin-button[id="saved-news_header"] {
  color: black;
  border-color: black;
}
/* starting from here is where i copy and pasted to the main and main.css */
/* VVVVVVV */

/* .header__main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.header__title {
  color: white;
  font-family: "roboto-slab-400", arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  width: 608px;
  height: 128px;
  margin-top: 80px;
  margin-bottom: 32px;
}

.header__paragraph {
  color: white;
  font-family: "roboto-400", arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
} */

/* need to take the header search container, the header input and the header search submit
and put them in there own component and connect them to the header
so that it looks cleaner 
VVVVVVVVVVV
*/
/* 
.header__search-container {
  position: relative;
}

.header__input {
  margin-top: 88px;
  border-radius: 55px;
  width: 608px;
  height: 64px;
  padding: 0;
  border-color: white;
  border-style: solid;
  font-family: "roboto-400", arial, sans-serif;
  padding-left: 24px;
}

.header__search-submit-button {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 55px;
  border-style: solid;
  border-color: rgba(47, 113, 229, 1);
  width: 168px;
  height: 64px;
  color: white;
  font-family: "roboto-500", arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  background-color: rgba(47, 113, 229, 1);
  cursor: pointer;
} */
