.news-card__container {
  max-width: 400px;
  /* max-height: 576px; */
  border-bottom-left-radius: 20px;
}
.news-card-image__container {
  position: relative;
  bottom: -45px;
}

.news-card-image__info {
  position: relative;
}

.news-card__image {
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.news-card-image__category-container {
}

.news-card-image__category {
  position: relative;
  color: black;
  font-family: "roboto-500", arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  top: -250px;
  left: 20px;
  background-color: white;
  border-radius: 10px;
  border-width: 87px;
  padding: 8px 22px;
  /* width: 87px; */
  /* height: 40px; */
  width: 43px;
  height: 24px;
}

.news-card-image__remove-button {
  background-image: url("../../images/activetrash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 8px;
  padding: 24px;
  width: 24px;
  height: 24px;
  position: relative;
  top: -290px;
  left: 325px;
}

.news-card-info__container {
  position: relative;
  bottom: 30px;
  background-color: bisque;
  background-color: rgba(255, 255, 255, 1);
  max-width: 400px;
  padding: 24px;
  bottom: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.news-card__date {
  font-family: "roboto", arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(182, 188, 191, 1);
}
.news-card__title {
  font-family: "roboto-slab-400", arial, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 16px;
  margin-top: 15px;
}
.news-card__paragraph {
  width: 352px;
  height: 110px;
  font-family: "roboto", arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}
.news-card__site {
  font-family: "roboto-slab-700", arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(182, 188, 191, 1);
  margin-top: 18px;
}
